<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Moviezz</title>
    <!--  CSS -->
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
      rel="stylesheet">
	
  </head>
  <body>
    <div class="center">
      <h1>Reset Password</h1>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <center><h4 style="color: red;">{{ message }}</h4></center>
          {% else %}
            <center><h4 style="color: green;">{{ message }}</h4></center>
          {% endif %}
        {% endfor %}
      {% endif %}
    
      <div class="signup_link" style="color: #5bb5f1;"><h4>Enter your email to reset password</h4></div>
      
      <form method="POST">
        {% csrf_token %}

        <div class="txt_field">
          <input type="email" required name="email" placeholder=" Enter Your Email" >
        </div>
        
        <input type="submit" value="Reset Password">
        <div class="signup_link">
          Not a member? <a href="{% url 'register' %}">Signup</a>
          <p>Remember your Password? <a href="{% url 'login' %}">Login</a></p> 
        </div>
      </form>
    </div>

  </body>
</html>