{% extends 'base.html' %}
{% load static%}

{% block content %}
	
	
	<div class="w3l-breadcrumbs">
		<nav id="breadcrumbs" class="breadcrumbs">
		  <div class="container page-wrapper">
			<a href="{% url 'index' %}">Home</a> » <span class="breadcrumb_last" aria-current="page">Home</span>
		  </div>
		</nav>
	</div>
	<!-- main-slider -->
	{% include 'videoslider.html' %}
	<!-- //banner-slider-->
	
	
	<!--///////////////////////////////////////////////////////// popular movies \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



	<!--grids-sec1-->
	<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title"> Movies</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="{% url 'popular_movies' %}">Show all</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids">


					<!-- / STARTING popular movies grid section -->
					{% if movies %}

						{% for movie in movies %}
							{% if movie.subscription %}
							<div class="item vhny-grid">
								<div class="box16">
									<a href="{% url 'moviesdetails' movie.id %}">
										<figure>
											<img class="img-fluid"  src="{{ movie.Poster.url }}" alt="">
										</figure>
										<span class=" video-icon" aria-hidden="true"><i class="fa-solid fa-play"></i></span>
										<div class="box-content">
											<h3 class="title">{{ movie.Title }} <small>({{movie.Rate }}) </small></h3>
											<h4><span class="post">
													<span class="fa fa-clock-o">  {{ movie.duration }} </span> 
												</span>
												<span class="post text-right"><a style="color:yellow; margin-left: 50px; font-size:30px " href="{% url 'subscription' %}">&#9733;</a></span>
											</h4>
										</div>
										
									</a>
								</div>
							</div>
							{% else %}
							<div class="item vhny-grid">
								<div class="box16">
									<a href="{% url 'moviesdetails' movie.id %}">
										<figure>
											<img class="img-fluid"  src="{{ movie.Poster.url }}" alt="">
										</figure>
										<div class="box-content">
											<h3 class="title">{{ movie.Title }} <small>({{movie.Rate }}) </small></h3>
											<h4><span class="post">
													<span class="fa fa-clock-o">  {{ movie.duration }} </span> 
												</span>
											</h4>
										</div>
										<span class=" video-icon" aria-hidden="true"><i class="fa-solid fa-play"></i></span>
									</a>
								</div>
							</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<p>No newly released movies found.</p>
					{% endif %}
					<!-- / ENDING popular movies grid section -->


				</div>
			
			</div>
		</div>
	</section>
	<!--//grids-sec1-->



	<!--///////////////////////////////////////////////////////// end popular movies \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

	{% include 'newrelese.html' %}

	{% include 'popularmovies.html' %}





	

	<!-- footer -->
	{% include 'footer.html' %}
	<!-- /footer -->

	<script>
		let slideIndex = 1;
const slider = document.querySelector(".slider");
const slides = document.querySelectorAll(".slide");
const totalSlides = slides.length;

// Clone first and last slides
const firstClone = slides[0].cloneNode(true);
const lastClone = slides[totalSlides - 1].cloneNode(true);

firstClone.id = "first-clone";
lastClone.id = "last-clone";

// Append clones
slider.appendChild(firstClone);
slider.prepend(lastClone);

// Adjust slider width
const allSlides = document.querySelectorAll(".slide");
const newTotalSlides = allSlides.length;

// Set initial position
slider.style.transform = `translateX(${-100}%)`;

function updateSlidePosition() {
    slider.style.transition = "transform 0.8s ease-in-out";
    slider.style.transform = `translateX(${-slideIndex * 100}%)`;
}

function nextSlide() {
    if (slideIndex >= totalSlides) {
        slideIndex++;
        updateSlidePosition();
        setTimeout(() => {
            slider.style.transition = "none";
            slideIndex = 1;
            slider.style.transform = `translateX(${-slideIndex * 100}%)`;
        }, 800);
    } else {
        slideIndex++;
        updateSlidePosition();
    }
}

function prevSlide() {
    if (slideIndex <= 0) {
        slideIndex--;
        updateSlidePosition();
        setTimeout(() => {
            slider.style.transition = "none";
            slideIndex = totalSlides;
            slider.style.transform = `translateX(${-slideIndex * 100}%)`;
        }, 800);
    } else {
        slideIndex--;
        updateSlidePosition();
    }
}

// Auto Slide
setInterval(() => {
    nextSlide();
}, 3000);

		


	</script>

{% endblock %}